/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/mooc-java-programming-ii/part08-Part08_05.TodoList/target/
/mooc-java-programming-ii/part08-Part08_06.Nicknames/target/
/mooc-java-programming-ii/part08-Part08_07.Abbreviations/target/
/mooc-java-programming-ii/part08-Part08_08.PrintMeMyHashmap/target/